

    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
    
    <% x = "this is a ERB Test to see how the syntax works" %>
    
    <h1><%= x %></h1>
